{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <h1>Book Details</h1>

    <ul>
        <li><u>Title</u>: <i>{{ book.title }}</i></li>
        <li><u>Author</u>: {{ book.author }}</li>
        <li><u><b>ISBN</b></u>: {{ book.isbn }}</li>
    </ul>

    <h2>Reviews</h2>
    <!-- <ul>
        {% for passenger in passengers %}
            <li>{{ passenger.name }}</li>
        {% else %}
            <li>No passengers.</li>
        {% endfor %}
    </ul> -->

{% endblock %}
